{{#if condition1}}

  <p>Have you slammed your head against your desk more than five times?</p>
  <button {{action 'changeit2'}}>Yes</button>

{{else if condition2}}

  <p>Have you performed a ritualistic sacrifice to the Code God?</p>
  <button {{action 'changeit3'}}>Yes</button>

{{else if condition3}}

  <form>
    <div class="form-group">
      <label for="name">You & Your Pair</label>
      {{input value=name id="name" placeholder="e.g. Ryan and Michael"}}
    </div>

    <div class="form-group">
      <label for="question">Question</label>
      {{input value=question id="question" placeholder="What's JavaScript?"}}
    </div>
  </form>

  <button {{action 'newQuestion'}}>Submit Question</button>
{{else}}

  <p>Have you re-enacted the fax machine smashing scene from Office Space?</p>
  <button{{action 'changeit'}}>Yes</button>
{{/if}}
