{{#if user.isComplete}}

{{else}}
  <li>{{user.name}}'s question at {{user.postTime}}: "{{user.question}}"

  <button class="btn btn-primary btn-xs" {{action 'delete' user}}>Answer Question</button>

  </li>
{{/if}}
